
body {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main-white-text {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: #1e1e1e 0 0 12px;
}

.secondary-white-text {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: #3a3a3a 0 0 12px;
}

.main-black-text {
    color: rgba(0, 0, 0);
}

.secondary-black-text {
    color: rgba(0, 0, 0, 0.8);
}

.info-container {
    width: 500px;
}

.info-size-1 {
    height: 250px;
}

.info-size-2 {
    height: 500px;
}

.info-size-4 {
    height: 1000px;
}

.el-card {
    background-color: transparent !important;
}